{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div class="container" align="left">
    <h2>J.C.R.Licklider</h2>
    <img src="{{ url_for('static', filename='images/2.png') }}" align="right" alt="J.C.R.Licklider" width="300" height="300">
    <p>In 1959, long before the first internet service providers came online, Licklider wrote his first influential book, titled “Libraries of the Future”, about how a computer could provide an automated library with simultaneous remote use by many different people through access to a common database.</p>
    <p>Licklider also realized that interactive computers could provide more than a library function, and could provide great value as automated assistants. He captured his ideas in a seminal paper in 1960 called Man-Computer Symbiosis, in which he described a computer assistant that could answer questions, perform simulation modeling, graphically display results, and extrapolate solutions for new situations from past experience. In August 1962, Licklider and Welden Clark elaborated on these ideas in the paper “On-Line Man Computer Communication”, one of the first conceptions of the future Internet. In October, he was hired to be Director of the IPTO newly established by DARPA. Licklider’s vision of a universal network had a powerful influence on his successors at the IPTO, and provided the original intellectual push that led to the realization of the ARPANET only seven years later.</p>
    <p>In 1964, Licklider left the IPTO and went to work at IBM. In 1968, he went back to MIT to lead the Project MAC project. In 1973, he returned again to lead the IPTO for two years. In 1979, he was one of the founding members of inforcom.</p>
    <p>In April 1968, Licklider and Robert Taylor published a ground-breaking paper “The Computer as a Communication Device” in Science and Technology, portraying the forthcoming universal network as more than a service to provide transmission of data, but also as a tool whose value came from the generation of new information through interaction with its users.</p>

</div>
<br></br>



<div class="container" align="left">
    <h2>Vint Cerf</h2>
    <img src="{{ url_for('static', filename='images/3.png') }}" align="right" alt="J.C.R.Licklider" width="300" height="300">
    <p>Vint Cerf is considered to be one of the fathers of the internet, having been the co-inventor of TCP/IP, having led influential work at DARPA, then at MCI, where he pioneered an email platform called MCI Mail. Now 74, he remains as busy as ever. Since 2005, he has been Google’s Chief Internet Evangelist. It is a role that gives him plenty of freedom. As he notes herein, “I focus on doing whatever I can to create conditions under which more Internet infrastructure can be built. This means I need to go where there is not Internet infrastructure to find ways to get it built. In weaker economies, affordability is a big issue, and the rationale for investing in Internet infrastructure is not necessarily obvious.”</p>
    <p>As our conversation continued, however, he shared several concerns about the future of his creation. He indicates that his goal is to determine how to make the internet safer, more secure, and more private. He also co-founded the People-Centered Internet (PCI) with customer relationship management pioneer, Mei Lin Fung, installing former FCC CIO David Bray as the executive director. He notes that, through PCI, he strives to identify projects that could "materially improve people’s use of the Internet." He sites as examples, "creating information in local languages or providing services that improve people’s ability to find jobs or improve their economic stability or safety or health."</p>

</div>
<br></br>

<div class="container" align="left">
    <h2>Bob Kahn</h2>
    <img src="{{ url_for('static', filename='images/4.png') }}" align="right" alt="J.C.R.Licklider" width="300" height="300">
    <p>Bob Kahn is the co-inventor of the TCP/IP protocols and was responsible for originating DARPA’s Internet program. Known as one of the “Fathers of the Internet,” Kahn demonstrated the ARPNET by connecting 20 different computers at the International Computer Communication Conference. It was then that people realized the importance of packet switching technology.</p>
    <p>While Director of Information Processing Techniques Office (IPTO) at DARPA, he initiated the United States government's billion dollar Strategic Computing Program, the largest computer research and development program ever undertaken by the federal government. Dr. Kahn conceived the idea of open-architecture networking and coined the term National Information Infrastructure (NII) in the mid 1980s, which later became more widely known as the Information Super Highway.</p>
    <p>In December 1997, President Bill Clinton presented the U.S. National Medal of Technology to Kahn and his colleague, Vinton Cerf, for founding and developing the Internet. In 2004, Kahn was the recipient of the ACM Alan M. Turing award (sometimes called the “Nobel Prize of Computer Science”) and in 2005 he was given the Presidential Medal of Freedom by President George Bush.</p>

</div>
<br></br>

{% endblock %}
